=render :partial => 'admin/shared/product_sub_menu'
%h1= t('editing_vendor')
= render "shared/error_messages", :target => @vendor
= form_for :vendor, :url => object_path, :html => {:method => :put, :multipart => true} do |f|
  = render :partial => 'form', :object => f
  = render :partial => 'admin/shared/edit_resource_links'
